html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.secTitle{
  text-align: center;
  font-size: 45px;
  margin: 5px 0;
  color: #ffa3a1;
  position: relative;
  font-weight: 600;
}

.secTitle::after,
.secTitle::before{
  content: "";
  width: 30%;
  height: 6px;
   background-color: #ffa3a1;
   color: red;
   display: inline-block;
   margin-bottom: 12px;
   border-radius: 50%;
}